<a href="https://colab.research.google.com/github/Ander2on/Mis-Proyectos/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [40]:
#1
#Utilización de tarjetas de crédito: por sexo

creditoSexo = pd.read_csv("/content/tarjetas_por_sexo.csv", sep=";", encoding="utf-8")
print(creditoSexo)

  Gender  frecuencia
0      F       13680
1      M       12372

In [30]:
#2
#Total en dólares utilizados diferenciando tarjetas de crédito por ciudad

totalDlsCiudad = pd.read_csv("/content/total_dls_ciudad_tipo_tarjeta.csv", sep=";", encoding="latin-1")
print(totalDlsCiudad)

                  City  Card Type     sum
0      Achalpur, India       Gold  679992
1                  NaN   Platinum  178612
2                  NaN  Signature  547005
3                  NaN     Silver  201032
4      Adilabad, India       Gold   49020
...                ...        ...     ...
3099               NaN  Signature  218424
3100               NaN     Silver   98224
3101   Zirakpur, India   Platinum  549663
3102  Zunheboto, India  Signature   89271
3103               NaN     Silver  377158

[3104 rows x 3 columns]

In [22]:
#3
#Total utilizado por tipo de gasto 

totalDlsTipo = pd.read_csv("/content/total_dls_tipo_gasto.csv", sep=";", encoding="utf-8")
print(totalDlsTipo)

        Exp Type        sum
0          Bills  907072473
1  Entertainment  726437536
2           Food  824724009
3           Fuel  789135821
4        Grocery  718207923
5         Travel  109255611